body, html {
    margin: 0;
    padding: 0;

    /*background-color: bisque;

    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}


#background { 
    position:fixed; 
    left: 0px; 
    top: 0px; 

    background-size:100%;  
    width:100%; 
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bg.jpg);

    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; 

    z-index:9990; 
} 

h1 {
   padding-top: 20px;
   padding-bottom: 20px;
   margin-left: 30px;
   font-size: 30px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   text-align: left; 
}


.block {
    background-color: rgb(225, 225, 225, 0.8);
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;

    min-height: 400px;


    box-shadow: 1px #fff;

}

.task {
    border-radius: 4px;
    border: 0.5px solid #000;
    width: 81%;
    padding-left: 10px;

    font-size: 20px;

}

.task:active::placeholder {
    color: transparent;
}

.task:focus::placeholder {
    color: transparent;
}



.add-todo {
    width: 85%;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   /* margin: 0 15px 30px; */
}

.description {
    font-size: 25px;
    width: 80%;

    margin: auto 0;
}

.add_box {
    width: 45px;
    height: 100%;
}

.add {
    width: 45px;
    height: 40px;
    background-color: #bd71ff;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.add:hover {
    background-color: #a840ff;
}


.todo_list {
    margin-top: 40px;
    padding-bottom: 20px;
}

.todo_empty {
    font-size: 25px;
    text-align: center;
    margin-top: 60px;
}


.todo-item {
    width: 85%;
    min-height: 35px;
    display: flex;
    margin: 10px auto;
    background-color: hsla(0, 2%, 55%, 0.084);
    border-radius: 4px;


}

.todo-item:hover {
    background-color: hsla(0, 2%, 55%, 0.2);
}

.todo-item.delition {
    animation: opacity 1s ease-in-out;
}

.todo-item.checked{
    text-decoration: line-through;
    opacity: 0.5;
}


.buttons {
    width: 10%;
}

.btn-complete {
    height: 15px;
    width: 10%;
    
    margin: auto 0;
}

.btn-complete:hover {
    border: 1px solid #000;
    height: 17px;
}

.btn-delete {
    background: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(224, 41, 41);
    color: #fff;

    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.btn-delete:hover {
    font-size: 16px;
    background-color: rgb(206, 24, 24);
    
}


@keyframes opacity {
    from {
        opacity: 1;
    } 
    to {
        opacity: 0;
    }
}


@media (max-width:550px) {
    .block {
        background-color: rgb(225, 225, 225, 0.5);
        margin: 30px 0;
        min-height: 92%;
        width: 100%;
        border-radius: 0px;
    }

    .todo-item {
        background-color: rgb(225, 225, 225, 0.5)
    }

    
}